<aside class="p-3 h-100 shadow-sm sidebar-custom">
  <!-- Search input -->

  <div class="search-container d-flex align-items-center mb-4">
    <input
      type="text"
      class="form-control search-input"
      [(ngModel)]="currentPlace"
      placeholder="Search for places..."
      aria-label="Search"
    />
    <button class="btn search-button" (click)="onSearch()">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <!-- Weather Summary -->
  <div class="weather-summary" *ngIf="weatherData">
    <div class="weather-icon">
      <img [src]="weatherData.weather.icon.url" alt="Weather icon" />
    </div>
    <h2>{{ weatherData.name }}, {{ weatherData.country}}</h2>
    <h2 class="temperature fw-bold mb-0">
      {{ weatherData.weather.temp.cur | number : "1.0-0"
      }}<span class="degree-symbol"> °C</span>
    </h2>
    <p class="weather-condition mb-2">{{ weatherData.weather.main}}</p>

    <p class="time mb-2">{{ weatherData.dt | date : "short" }}</p>

    <div class="divider"></div>

    <div class="row">
      <!-- Left Column -->
      <div class="col">
        <p class="icon-temp">
          <span class="sp-icon"><i class="fas fa-thermometer-half"></i></span> Feels Like:
          {{ weatherData.weather.feelsLike.cur }}
        </p>
        <p class="icon-temp">
          <span class="sp-icon"><i class="fas fa-tachometer-alt"></i></span> Pressure:
          {{ weatherData.weather.pressure }} hPa
        </p>
        <p class="icon-temp">
          <span class="sp-icon"><i class="fas fa-tint"></i> </span>
          Humidity:
          {{ weatherData.weather.humidity }}%
        </p>
      </div>

      <!-- Right Column -->
      <div class="col">
        <p class="icon-temp">
          <span class="sp-icon"><i class="fas fa-cloud"></i></span> Clouds: {{ weatherData.weather.clouds }}%
        </p>
        <p class="icon-temp">
          <span class="sp-icon"><i class="fas fa-eye"></i> </span>Visibility:
          {{ weatherData.weather.visibility }} m
        </p>
        <p class="icon-temp">
          <span class="sp-icon"><i class="fas fa-wind"></i></span> Wind Speed:
          {{ weatherData.weather.wind.speed }} m/s
        </p>
      </div>
    </div>

<!-- Sunrise & Sunset Section -->
<div class="sunrise-sunset-summary" *ngIf="weatherData.astronomical">
  <div class="title">Sunrise & Sunset</div>
  <div class="times-container">
    <div class="time-block sunrise">
      <i class="fa-regular fa-sun sun-icon "></i>
      <div class="time-sunset">{{ weatherData.astronomical.sunrise | date: 'shortTime' }}</div>
      <div class="change">-1m 46s</div>
    </div>
    <div class="time-block sunset">
      <i class="fa-regular fa-moon sun-icon "></i>
      <div class="time-sunset">{{ weatherData.astronomical.sunset | date: 'shortTime' }}</div>
      <div class="change">+2m 22s</div>
    </div>
  </div>
</div>




  </div>





</aside>
